/* Start Mobile Code */
/* V Setting my variables V */
:root{
  --color-red:#f54017;
  --color-lightblue:#7ee8ed;
  --color-blue:#76dae0;
  --color-darkblue:#5dacb0;
  --color-cream:#ffeee1;
}

/* V Making my relevant mobile classes V */
.banner {
  border-bottom: 5px solid var(--color-blue);
  border-right: 5px solid var(--color-blue);
  border-radius: 0 0 5px 0;
  font-size: 1em;
  color: var(--color-blue);
  position: relative;
  max-width: 100%;
  height: 10vh;
  background-color: var(--color-darkblue);
}
.banner img {
  margin-left: 1em;
  height: 9vh;
}
.banner a {
    color: var(--color-red);
    text-decoration: none;
    padding: 0.75em;
 }

 /* Text changing classes */
.indented {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
.centered{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* changing what is shown for each device */
.notMobile{
  display:none;
}
.notDesktop{
  display: inline;
}

/* Making an image float */
.asideImage img{
  float: right;
  width: 30vw;
  max-width: 85px;
  padding-right: .5em;
}

/* Destinations div on index */
.destinations{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  padding-left: 1em;
  padding-right: 1em;
}
.destinations .mission{
  font-family: 'Share Tech Mono', monospace;
  background-color: var(--color-blue);
  color: var(--color-red);
  font-weight: bold;
  width: fit-content;
  padding: 3px;
  padding-bottom: 0;
  margin-left: 0;
  margin-bottom: -4px;
  border: solid 2px var(--color-lightblue);
  border-radius: 20% 20% 0 0;
}
.destinations a img{
  border: solid 2px var(--color-lightblue);
  border-bottom: solid 2px var(--color-darkblue);
  border-left: solid 2px var(--color-darkblue);
  border-radius: 0 20% 5% 20%;
  max-width: 300px;
}
.destinations div{
  margin: auto;
}
/* Changing the content in trips for mobile */
.twoColumnGrid{
  text-align: center;
}
.twoColumnGrid ul{
  display: inline-block;
}
.twoColumnGrid ul li{
  text-align: left;
}

/* Hide the toggle checkbox */
#expand-toggle {
  display: none;
}

/* Hide expandable content by default */
.expandable {
  visibility: collapse;
  list-style-type: none;
  padding-bottom: .2em;
  width: 40vw;
  font-size: 1.25em;
  font-weight: bold;
  background-color: var(--color-darkblue);
  border: 5px solid var(--color-blue);
  border-top: 0px;
  border-left: 0px ;
  border-radius: 0 0 5px 0;
  position: absolute;
  right: -5px;
  top: 6vh;
  }
  .expandable ul li{
    visibility: collapse;
    padding: 1em;
  }

/* Style the button */
#expand-btn {
  float: right;
  color: var(--color-red);
  padding: .5em;
  margin-right: 2vw;
  margin-top: 1vh;
  border: solid var(--color-blue);
  border-radius: 30%;
  background-color: var(--color-blue);
}
/* Show hidden content when the checkbox is checked */
#expand-toggle:checked ~ * .expandable {
  visibility: visible;
}
#expand-toggle:checked ~ * .expandable li {
  visibility: visible;
  padding: 1em;
  padding-bottom: 0;
  text-align: right;
  width: 95%;
}

/* Style the button when the checkbox is checked */
#expand-toggle:checked ~ #expand-btn {
  background-color: #ccc;
}

/* Table declarations for Prices */
.prices table{
  
  margin-left: 15vw;
}
.prices table, .prices th, .prices td{
  background-color: var(--color-blue);
  color: var(--color-red);
  font-weight: bolder;
  border-collapse: collapse;
  border: 3px solid var(--color-darkblue);
  padding: 1em;
  text-align: left;
}
.prices th{
  color: black;
  padding-left: .5em;
}

/* Fake error for forms */
#noFormFound{
  width: 70vw;
  margin: auto;
  padding-top: 1em;
  border: 10px solid var(--color-red);
}
#noFormFound h1, #noFormFound p{
  text-align: center;
  margin:auto;
  width: 50vw;
}

/* Begin Base code */
main{
  min-height: 90vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-cream);
  margin: auto;
  font-size: 1em;
  min-height: 100vh;
}
h2{
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.15em;
  font-weight: bold;
  border: 3px solid var(--color-lightblue);
  border-bottom: 3px solid var(--color-darkblue);
  border-left: none;
  border-radius: 0 30px 30px 0;
  width: fit-content;
  padding: .2em;
  background-color: var(--color-blue);
  color: var(--color-red);
}
p{
  text-align: left;
  padding: 1em;
  max-width: 550px;
  margin: auto;
}
span{
  background-color: black;
  color: var(--color-red);
  font-weight: bolder;
}

/* Footer Code */
footer {
  font-weight: bold;
  padding: .5em;
  display: block;
  border-top: 5px solid var(--color-blue);
  background-color: var(--color-darkblue);
  font-size: 0.7em;
  overflow: auto;
}
footer ul{
  margin-top: 0;
  margin-bottom:0;
  padding: 0;
  padding-left: .5em ;
}
footer li{
  display: inline-block;
  list-style-type:none;
  margin: 0;
  padding: 0;
  margin-right: .5vw;
}
footer a{
  color: var(--color-red);
}
footer *{
  padding: .5em;
  margin: 0px;
  text-decoration: none;
}
/* End Footer */
/* End Base Code */
/* End Mobile Code */


/* Start Desktop Code */
@media only screen and (min-width: 768px) {

  /* Turning off mobile, displaying desktop */
  .notMobile{
    text-align: right;
    display: block;
  }
  .notDesktop{
    display: none;
  }
  /* Setting text styles */
  .indented{
    font-size: 1.7em;
    min-width: 18vw;
    background-color: var(--color-cream);
    border: 0px none;
  }
  .centered{
    font-size: 1.7em;
    min-width: 18vw;
    background-color: var(--color-cream);
    border: 0px none;
  }
  #floatText{
    margin-left: 15vw;
    float:left;
    width: 30vw;
  }
  .centeredp{
    padding-left: 10vw;
    margin-left: auto;
    margin-right: auto;
  }

  /* Making the banner and nav BIG for desktop */
  .banner{
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: var(--color-blue);
    border: 0;
  }
  .banner img{
    margin-left: 4vw;
    height: 7vw;
  }
  #navDesktop{
    margin-left: auto;
    margin-right: 10vw;
    margin-top: auto;
    margin-bottom: -1vh;
  }
  #navDesktop ul li{
    display: inline-flex;
    font-family: 'Share Tech Mono', monospace;
    margin-right: 2vw;
    font-size: 2vw;
    font-weight: 900;
  }
  #navDesktop ul li:hover{
    background-color: var(--color-darkblue);
    border-radius: 5px 20%;
  }

  /* Destinations paragraph on index*/
  .destinations p{
    font-size: 1.5em;
  }
  .destinations{
    margin: auto;
  }
  .destinations a img{
    max-width: 40vw;
    border-width: 5px;
  }
  .destinations a img:hover{
    opacity: .5;
  }

  /* Floated images */
  .asideImageD img{
    float: right;
    width: 20vw;
    padding: 1em;
    margin-right: 5vw;
  }
  .asideImage img{
    max-width: 8vw;
  }
  /* Creating the grid for trips.html */
  .twoColumnGrid{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
  }
  .twoColumnGrid #moon{
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    width: 30vw;
  }
  .twoColumnGrid #mars{
    grid-row: 1;
    grid-column: 2;
    width: 30vw;
  }
  
  /* Begin Base Code  */
  main{
    min-height: 78vh;
  }
  p{
    text-align: justify;
    padding: 1em;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  /* Start Footer */
  footer {
    font-weight: bold;
    display: flex;
    border-top: 5px solid var(--color-blue);
    background-color: var(--color-darkblue);
    font-size: .80vw;
    height: 3vh;
  }
  footer a{
    padding:1em;
  }
  footer a:hover{
    background-color: var(--color-blue);
  }
  footer ul{
    padding: 0;
  }
  footer .notMobile{
    display: inline-block;
    list-style-type:none;
  }
  footer *{
    padding: 0;
    margin: 0;
  }
  footer p, footer ul{
    padding-right: 2vw;
  }
  /* End Footer */
  /* End Base Code */
  /* End Mobile Code */
  }